/* Variables */

$color-primary: #ef9acc;
$color-secondary: #ef8354;
$color-text: #feece2;
$color-background: rgb(215, 207, 223);
$color-link: white;
$color-link-hover: #c81ba0;
$color-footer-background: #ef9acc;
$color-footer-text: #feece2;
$color-button-background: #535c91;
$color-button-text: #feece2;
$color-button-hover: #3c043f;

$font-family: Arial, sans-serif;

$max-width: 10000px;

$button-width: 150px;
$button-height: 50px;
$button-padding: 20px 42px;
$button-margin: 7px 5px;
$button-border-radius: 10px;

$mobile-width: 600px;
$mobile-button-image-width: 80px;
$mobile-header-font-size: 24px;
