h1 {
    color: rgb(215, 207, 223);
    font-size: 36px;
}

p{
    color:rgb(65, 12, 81);
}
body{
  
    background-image: url(https://www.shutterstock.com/image-photo/laptop-half-closed-dark-colourful-260nw-2300146017.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.boton-estilo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px; /* Ajusta el ancho del botón según tu preferencia */
    height: 50px; /* Ajusta la altura del botón según tu preferencia */
    margin: 0 10px; /* Ajusta el margen entre los botones */
}

/* Estilos adicionales para hacer la imagen del botón más pequeña en dispositivos móviles */
@media screen and (max-width: 600px) {
    .boton-estilo img {
        width: 80px;
        height: auto;
    }
}
/****productos*/

// Estilos generales para el cuerpo del documento
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  // Estilos para el encabezado
  header {
    text-align: center;
  }
  
  // Estilos para el contenido principal
  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    // Estilos para la sección de productos
    h1 {
      margin-bottom: 20px;
    }
  
    // Estilos para el contenedor de las tarjetas de productos
    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  
      // Estilos para cada tarjeta de producto
      .card {
        width: 300px;
        border: 1px solid #290635;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
  
        // Estilos para la imagen dentro de la tarjeta
        img {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 10px;
        }
  
        // Estilos para el título dentro de la tarjeta
        h2 {
          font-size: 1.5rem;
          margin-bottom: 10px;
          color: rgb(35, 19, 43);
        }
  
        // Estilos para el párrafo dentro de la tarjeta
        p {
          font-size: 1rem;
          margin-bottom: 15px;
        }
        }
      }
    }
  
    // Estilos adicionales para otras secciones dentro de main
    section {  
      text-align: center;
      margin-bottom: 20px;
    }
  
  
  // Estilos para el pie de página
  footer {
    text-align: center;
  }
  